@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');


@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

.conteiner001 {
    position: relative;
    display: grid;
    height: 550px;
    list-style-type: none;
    align-content: center;
    grid-template-columns: auto auto auto;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
}

#imagem {
    position: absolute;
}

#texto {
    position: absolute;
    color: aqua;
    left: 250px;
    top: 60;
}

#conteiner_01 {
    display: grid;
    height: 30px;
    align-content: center;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 100px;
    padding: 10px;
}

.grid-container {
    display: grid;
    height: 400px;
    align-content: center;
    grid-template-columns: 190px 190px 190px;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(22, 17, 17, 0.8);
    text-align: center;
    padding: 8px;
    font-size: 10px;
  }

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }